<div class="contents-container">
<div id="additional_test_cases">insert here</div>
<table id="testing_table">
<tr>
	<th>Test Step</th>
	<th>Expected Result</th>
	<th>
		<span class="test_pass" title="Pass"> P </span>
		<span clss="untested" title="Untested"> U </span>
		<span class="test_fail" title="Fail"> F </span>
	</th>
	<th>
		<span class="last_results">Last Date, State, and Details</span>
	</th>

</tr>
 <% @test_case.test_case_steps.each do |step| %>
	<tr id="step-<%=step.id%>">
		<td><%= step.description %></td>
		<td><%= step.expected_result%></td>
		<td><% @test_case_step_result= step.test_case_step_results.new %>
		<%= render 'test_case_step_results/form' %>
		</td>
		<td class="decorate_overview_container">
			<%= step.test_case_step_results.last(2).first.decorate.overview %>
		</td>
	</tr>

<%end%>



</table>


<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
</div>